.Rproj.user
.Rhistory
.RData
.Ruserdata
.spyproject/
*.Rproj

# temporary files produced by RUNS.run
detected.ROHet.csv
genotype.raw
plink.map
detectRUNS/R/RcppExports.R
detectRUNS/src/RcppExports.cpp

# mac specific files
.DS_Store
