language: r
sudo: required

before_install:
  - sudo add-apt-repository ppa:marutter/rrutter -y
  - sudo apt-get update -q
  - sudo apt-get install r-cran-rjags -y
  - cd detectRUNS

r_packages:
  - covr

r:
  - release
  - devel
  - oldrel

after_success:
  - Rscript -e 'library(covr);codecov()'
